{% extends "::base.html.twig" %}

{% block title %}TalkSafeBundle:Message:main{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">

            </div>
        </div>
    </div>
{% endblock %}